@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* .lazy-load-image-background {
  display: block !important;
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.dark {
  background-color: #1d1d1d;
  color: #fff;
}

.dark .card-gradient {
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(2, 2, 25, 0.7) 80%,
    #000 100%
  );
}

.card-gradient {
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(2, 2, 25, 0.7) 80%,
    #545454 100%
  );
}
