@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.dark {
  background-color: #1d1d1d;
  color: #fff;
}
